############################
# OS X
############################
.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*

############################
# Linux
############################
*~

############################
# Windows
############################
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp

############################
# Packages / Binaries
############################
*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid

############################
# Logs & Databases
############################
.tmp
*.log
*.sql
*.sqlite
*.sqlite3

############################
# Misc
############################
*#
ssl
.idea
nbproject
.tsbuildinfo
.eslintcache

############################
# Public uploads (Strapi)
############################
public/uploads/*
!public/uploads/.gitkeep

############################
# Node.js
############################
node_modules
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store
.node_history

############################
# Tests
############################
coverage

############################
# Environment
############################
.env

############################
# Strapi (IMPORTANT)
############################

# ignore everything in .strapi
.strapi/*

# BUT keep Strapi v5 prebuilt admin client
!.strapi/client
!.strapi/client/**

# other strapi files not needed in repo
exports
.strapi-updater.json
.strapi-cloud.json

############################
# Build output
############################
dist
build
